<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="animals"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">Barnacle</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content text-center>
  <p align="center"><ion-img src="assets/icon/barnacle.jpg" width="128"></ion-img></p>
<ion-content>


 <p font-weight: bold>Habitat:</p>
 <p>Barnacles are commonly found in the intertidal zone, rocky shores and estuaries.
  They are found attached to rocks, walls, stems of marsh grass, and boats. They have
  to live in areas where they are covered by the tide at least two times daily. They
  prefer to settle in areas already colonized by other barnacles.
</p>

 <p>Facts:</p>
 <p>Class: Maxillopoda</p>
 <p>Order: Sessilia - sessile barnacles</p>
 <p>Family: Chtmanalidae</p>

 <p>Description:</p>
 <p>Barnacles are gray in coloration. Six overlapping plates of calcium carbonate surround
  their body. The body is segmented, head at the base, legs extended out in fan-like pattern.
  Cirri are modified legs that look like fans waving in the water, collect food and water.
  Adult form has no eyes or sensory appendages.</p>

 <p>Size:</p>
 <p>Adults can reach 1/8 inches (3 mm) for one diameter, 1/4 inches (5 mm) in another diameter.</p>
 <p>Predators:</p>
 <p>Snails, starfish, whelks and fish are commmon predators of the barnacle.</p>

 <p>Diet/Prey:</p>
 <p>Barnacles will feed on plankton and organic debris. They are filter feeders, and kick
  their legs out of their shells to collect food
 </p>
 <p>Reproduction:</p>
 <p>Barnacles are hermaphrodites (containing both sexes) but will cross fertilize (fertilize
  with another individual). In extreme cases will fertilize themselves. They will extended
  a tube out of their shell and into the shell of another; the eggs are fertilized and hatched
  inside that parent shell. Larvae live as zooplankton for weeks and will go through several molts
  before settling. They will change to the adult form after they attach themselves to a substrate.
 </p>
