<ion-header>
	<ion-toolbar class="ion-no-padding-imp">
		<app-background-header
			[background]="((boat$ | async)?.imageFile?.url) || ('assets/icon/fleet_header.png')">
			<ion-buttons slot="start">
				<app-back-button color='light'></app-back-button>
			</ion-buttons>
			<div class='boat-heading' slot="heading">Amenities</div>
		</app-background-header>
	</ion-toolbar>
</ion-header>
<ion-content>
	<ng-container *ngIf='!(boat$ | async)'>
		<app-loading-spinner></app-loading-spinner>
	</ng-container>
	<ng-container *ngIf='(boat$ | async)'>
		<pinch-zoom backgroundColor='white' *ngIf='!level || level == "level1"'>
			<img [src]="(boat$ | async)?.amenitiesLvlOneFile?.url" />
		</pinch-zoom>
		<pinch-zoom backgroundColor='white' *ngIf='level == "level2"'>
			<img [src]='(boat$ | async)?.amenitiesLvlTwoFile?.url' />
		</pinch-zoom>
		<pinch-zoom backgroundColor='white' *ngIf='level == "level3"'>
			<img [src]='(boat$ | async)?.amenitiesLvlThreeFile?.url' />
		</pinch-zoom>
	</ng-container>
	<img class='img-legend' src='assets/icon/legend.png' />
</ion-content>
<ion-footer>
	<ion-toolbar class='ion-no-padding'>
		<ion-segment (ionChange)="setActiveImage($event)" value='level1' mode='md'>
			<ion-segment-button *ngIf='(boat$ | async)?.amenitiesLvlOneFile?.url' value='level1'>Level 1</ion-segment-button>
			<ion-segment-button *ngIf='(boat$ | async)?.amenitiesLvlTwoFile?.url' value='level2'>Level 2</ion-segment-button>
			<ion-segment-button *ngIf='(boat$ | async)?.amenitiesLvlThreeFile?.url' value='level3'>Level 3</ion-segment-button>
		</ion-segment>
	</ion-toolbar>
</ion-footer>