<ion-header>
	<ion-toolbar class="ion-no-padding-imp">
		<app-background-header background="assets/icon/marine_header.jpg">
			<ion-buttons slot="start">
				<app-back-button color='light'></app-back-button>
			</ion-buttons>
			<div slot="heading">MARINE LIFE</div>
		</app-background-header>
	</ion-toolbar>
</ion-header>

<ion-content class='ion-no-padding'>
	<app-btn-square (onClick)='section = "overview"' title="Overview"></app-btn-square>
	<app-btn-square (onClick)='section = "our_impact"' title="Our Impact"></app-btn-square>
	<app-btn-square (onClick)='animals()' title="Animals"></app-btn-square>


	<app-loading-spinner *ngIf='(provider?.isLoading$ | async)'></app-loading-spinner>

	<ng-container *ngIf='!(provider?.isLoading$ | async)'>
		<div class='page-heading'>
			{{section == "overview" ? "Overview" : "Our Impact"}}
		</div>
		<app-canon-spacer color='dark'></app-canon-spacer>
		<div class='ion-padding'>
			<ng-container *ngIf='section == "overview"'>
				<div [innerHTML]='(provider?.data$ | async)?.marineLifeText'></div>
			</ng-container>
			<ng-container *ngIf='section == "our_impact"'>
				<div [innerHTML]='(provider?.data$ | async)?.ourImpactText'></div>
			</ng-container>
		</div>
		


	</ng-container>


	



</ion-content>