.page-heading{
	padding-top: 8px;
	padding-bottom: 8px;
	font-size: 22px;
	font-weight: bold;
	text-align: center;
	color: var(--ion-color-primary);
}

app-canon-spacer{
	width : 200px;
	margin: auto;
}