:host{
	display: block;
	height: 120px;
	height: calc( var(--ion-safe-area-top, 0) + 120px );
}


.background-header{
	height: 100%;
	background-size: cover;
	background-position: center;
}

.title-wrapper{
	background-color: rgba(0,0,0,0.4);
	padding-top : var(--ion-safe-area-top, 0);
	height: 100%;
	width: 100%;
	justify-content: center;
	display: flex;
    flex-direction: column;
}

.header-text{
	font-size: 26px;
    font-weight: 300;
	color: white;
	padding-right: 12px;
	padding-left: 12px;
}


.toolbar-wrapper{
	padding-left: 10px;
	padding-top : calc( var(--ion-safe-area-top, 0) + 10px );
	position: absolute;
	height: 100%;
	width: 100%;
}