<ion-header>
	<ion-toolbar class="ion-no-padding-imp">
		<app-background-header [background]="'assets/icon/mainmenu2.jpg'">
			<ion-buttons slot="start">
				<ion-menu-button color="light"></ion-menu-button>
			</ion-buttons>
			<div slot="heading">
				Time Machine
			</div>
		</app-background-header>
	</ion-toolbar>
</ion-header>
<ion-content>
	<app-loading-spinner *ngIf='provider?.isLoading$ | async'></app-loading-spinner>
	<ng-container *ngIf='!(provider?.isLoading$ | async)'>
		<app-image-item (onClick)='handleClick(item)' [title]='item?.title' [background]='item?.firstImageFile?.url' *ngFor='let item of ((provider?.data$ | async) || [])'>			
		</app-image-item>
	</ng-container>
</ion-content>