<ion-header>
  <ion-toolbar class="new-background-color">
  <div class="section-with-image">
    <div class='section-overlay'>
      <ion-buttons slot="secondary">
        <ion-back-button text="" color="light"></ion-back-button>
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      </div>
    </div>
    <ion-title color="light">Spirit of Charleston</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">

  <section class="full-width">
		<header></header>
		<ion-button expand="full" color="danger" (click)="amenitiesLC()">Amenities</ion-button>
  </section>

  <div class="row">
		<div class="col">
			<div class="text-center">
				<h5 style="text-align: center;">Boat Features</h5>
			</div>
		</div>
	</div>


  <ion-grid>
		<ion-row>
			<ion-col class='logo-border ion-no-padding ion-align-self-center'></ion-col>
			<ion-col><img alt="logo" class="header_logo" src="assets/icon/cannon_blue.png"></ion-col>
			<ion-col class='logo-border ion-no-padding ion-align-self-center'></ion-col>
		</ion-row>
  </ion-grid>

  <font face="AvenirNext-Regular" size="5" color="005295"><p>This sleek, beautiful two deck dining yacht is perfect for the Charleston Harbor. The Spirit of Charleston has an open air deck that can be fully enclosed in inclement weather. The lower deck is spacious and elegantly decorated with beautiful amber sconces for lighting and a color palette that works well with any personal style.</p>
    <p><strong>Weight</strong>&nbsp;&ndash; 85 Gross Tons</p>
    <p><strong>Engines</strong>&nbsp;&ndash; 2 John Deere #6081 300hp</p>
    <p><strong>Capacity&nbsp;</strong>&ndash; 385 passengers</p>
    <p><strong>Age</strong>&nbsp;&ndash; Built 1986</p>
    <p><strong>Certificates/ratings</strong>&nbsp;-&nbsp; C.O.I. - USCG</p>
    <p><strong>Galley</strong>&nbsp;&ndash; Full sized catering galley</p>
    <p><strong>Environmentally</strong>&nbsp;&ndash; I.S.O. 14001 Certificate -EMS</p>
    <p><strong>AV</strong>&nbsp;&ndash; QSC Q-Sys and Creston integrated system control makes sending audio &amp; video to all areas of each vessel as simple as touching a button.&nbsp; Play video content locally into multiple flat screen displays on the interior decks or network video &nbsp;content to the entire vessel from the wheel house via HDMI connection.&nbsp; Concert quality audio systems on all decks allow for announcements and music to be heard clearly in all areas of the vessel. &nbsp;</p>
    <p>&nbsp;</p>
    <p><strong>Impact:</strong></p>
    <p><strong>Water Station</strong>&nbsp;&ndash; Filling station on Lower deck</p>
    <p><strong>Recycle program</strong>&nbsp;&ndash; stats, etc.</p></font>

  </ion-content>