<ion-header>
	<ion-toolbar class="ion-no-padding-imp">
		<app-background-header [background]="((boat$ | async)?.imageFile?.url) || ('assets/icon/fleet_header.png')">
			<ion-buttons slot="start">
				<app-back-button color='light'></app-back-button>
			</ion-buttons>
			<div class='boat-heading' slot="heading">{{(boat$ | async)?.title || ""}}</div>
		</app-background-header>
	</ion-toolbar>
</ion-header>
<ion-content class='ion-no-padding'>
	

	<ng-container *ngIf='!(boat$ | async)'>
		<app-loading-spinner></app-loading-spinner>
	</ng-container>
	<ng-container *ngIf='(boat$ | async)'>
		<app-btn-square (onClick)='goToAmenities()' title="Amenities"></app-btn-square>
		<app-btn-square title="360 Tours"></app-btn-square>
		<div class='page-heading'>
			Boat Features
		</div>
		<app-canon-spacer color='dark'></app-canon-spacer>
		<div class='ion-padding' [innerHTML]='(boat$ | async)?.details'></div>
	</ng-container>
	

</ion-content>