<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Our Impact</ion-title>
  </ion-toolbar>
</ion-header>

<div class="row">
  <div class="col">
      <div class="text-center">
          <h5 style="text-align: center;">Our Impact</h5>
      </div>
  </div>
</div>


<ion-col>
  <div class="ion-text-nowrap">
    <h3></h3>
    Fort Sumter Environmental Goals:
  </div>
</ion-col>
<ion-col>

  <div id="list">
    <h5>Management System</h5>
    <ul>
      <li>Recylcing program at both departure locations</li>
      <li>Water bottle filling station on each Fort Sumter Tours main vessels</li>
      <li>Insure compliance with EPA standards</li>
    </ul>
  </div>