.new-background-color{
    --background: #d41c1c;
}


  p {
    color: #567cce;
    margin-bottom: -20px;
}

li {
    color:#567cce;
}

h3 {
    color: #567cce;
    margin-bottom: -20px;
}
div {
  color: #567cce;
  margin-bottom: 0px
}

.parent {
  display: flex;
}