<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Our Impact</ion-title>
  </ion-toolbar>
</ion-header>

<div class="row">
  <div class="col">
      <div class="text-center">
          <h5 style="text-align: center;">Our Impact</h5>
      </div>
  </div>
</div>

<p>Fort Sumter Tours Environmental Goals:</p>

<p>EMS = Environmental Management System</p>

<div id="list">
  <h5>Reduce our Environmental Footprint:</h5>
  <ul>
    <li>Recycling program at both departure locations</li>
    <li>Water bottle filling station on each Fort Sumter Tours main vessels</li>
    <li>Insure comlpiance with EPA standards</li>
    <li>Continually improve operations</li>
  </ul>
</div>