<ion-header>
	<ion-toolbar class='ion-no-padding-imp'>
		<app-background-header [background]="(animal | async)?.imageFile?.url">
			<ion-buttons slot="start">
				<app-back-button color='light'></app-back-button>
			</ion-buttons>
		</app-background-header>
	</ion-toolbar>
</ion-header>
<ion-content>
	<app-loading-spinner *ngIf='!(animal | async)?.objectId'></app-loading-spinner>
	<ng-container *ngIf='(animal | async)?.objectId'>
		<div class='ion-text-center page-heading'>
			{{(animal | async)?.title}}
		</div>
		<div class='lbl-small ion-padding-start ion-padding-end'>Habitat:</div>
		<div [innerHTML]='(animal | async)?.habitat' class='lbl-description ion-padding-end ion-padding-start'></div>
		<div class='lbl-small ion-padding-top ion-margin-top ion-padding-start ion-padding-end'>Facts:</div>
		<div [innerHTML]='(animal | async)?.text' class='lbl-description ion-padding-start ion-padding-end'></div>
	</ng-container>
</ion-content>