app-animal-view{
	app-background-header{
		height: 200px !important;
	}
	
	.page-heading{
		padding-top: 8px;
		padding-bottom: 8px;
		font-size: 18px;
		color: var(--ion-color-primary);
		font-weight: bold;
	}
	
	
	
	.lbl-description{
		font{
			font-size: 13px !important;
		}
	}
	
	
	.lbl-small{
		font-size: 13px;
		font-weight: bold;
		color: var(--ion-color-primary);
	}
}