<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
        <ion-back-button color="light" defaultHref="overview"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">First Battle</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content text-center>
  <p align="center"><ion-img src="assets/icon/Confederate_Batteries_2.jpg" width="128"></ion-img></p>
<ion-content>

 <p>
  After South Carolina seceded from the Union in December 1860, Federal soldiers under the command of Major Robert Anderson had moved from Fort Moultrie (on Sullivan’s Island) to Fort Sumter, believing they would be safer there.  For the next four months the newly-formed Confederacy would attempt to negotiate with the Federal Government to take possession of the fort.  Both sides hoped for a peaceful resolution.  By April, however, Confederate General P.G.T. Beauregard and Confederate Secretary of War Leroy Pope Walker believed the stand-off between Confederate forces and Major Anderson’s garrison in the fort had gone on long enough. 
 </p>

 <p>
  On Thursday, April 11, 1861, General Beauregard sent three aides, Colonel James Chesnut, Jr., Captain Stephen D. Lee and Lieutenant A. R.Chisolm to demand the surrender of the fort.  Anderson declined.  After consulting the Confederate Secretary of War, Beauregard sent his aides back to the fort and authorized Chesnut to decide whether the fort should be taken by force.  The aides waited while Anderson considered his alternatives.  At about 3:00 a.m. when Anderson finally stated his conditions for surrender, Colonel Chesnut decided they were “manifestly futile and not within the scope of the instructions verbally given to us.”  The aides then left the fort and proceeded to nearby Fort Johnson.   From there, at about 4:30 a.m., the first shot of what would become the Civil War was fired upon Fort Sumter.
 </p>

 <p>
  Forty-three Confederate batteries immediately opened fire.  Edmund Ruffin, noted Virginian agronomist and secessionist, later claimed that he had fired the first shot.  His story was widely believed, but the first shot was actually fired by Lieutenant Henry S. Farley, following the order of his batter commander Captain George S. James.  According to Mary Chesnut (wife of Colonel Chesnut), Charleston residents gathered on rooftops and balconies to watch the battle, drinking salutes to the start of the hostilities.
 </p>

 <p>
  Anderson and his men made no attempt to return fire for more than two hours, waiting for daylight.  The fort contained a limited supply of ammunition, few cartridge bags, and no fuses for their explosive shells.  Only sold irons balls could be fired against the Confederate batteries.  At about 7:00 a.m., Captain Abner Doubleday, the forts’ second in command, fired the first returning shot in defense of the fort. 
 </p>

 <p>
  The firing continued all day. At night fire from the fort stopped to conserve ammunition.  The Confederates, however, lobbed an occasional shell into the fort.  The following day, Saturday, April 13, Confederate batteries on Sullivan’s Island fired hot shot into the fort (cannonballs heated in a furnace), which started fires in the Officers’ Quarters.  Anderson’s men did not have the resources to fight the fire and continue the battle, so after 34 hours, the decision was made to surrender.
 </p>

 <p>
  There were no recorded deaths on either side during the attack, but as Anderson’s men attempted to fire a 100 gun salute at the lowering of their flag, an accidental explosion killed Private Daniel Hough.  Private Edward Galloway was wounded and would die from his wounds a few days later.   The men boarded supply ships and headed for New York, where the Fort Sumter flag became a popular patriotic symbol.  
  Today the flag is on display in the fort’s museum.  
 </p>
