.img-wrapper{
	width: 100px;
	height: 64px;
	background-size: cover;
	background-position: center;
}

.lbl-item{
	font-size: 14px;
	padding-left: 8px;
}

ion-item{
	--border-color : rgba(100,100,100,0.1);
}