// .new-background-color{
//     --background: #d41c1c;
// }

.img-animal{
	max-width: 100px;
	margin-left: -15px;
	border-top: none;
	border-bottom: none;
}

.section-with-image{
	height: 200px;
	background-image: url("src/assets/icon/1491581693744.jpg");
	background-size: cover;
	position: relative;
}

.section-overlay{
	position: absolute;
	background : rgba(0,0,0,0.4);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}