<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Animals</ion-title>
  </ion-toolbar>
</ion-header>

<ion-item (click)="barnacle()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/barnacle.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Barnacle</h2>
  </ion-label>
</ion-item>

<ion-item (click)="bottlenose()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/bottlenose_dolphin.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Bottlenose Dolphin</h2>
  </ion-label>
</ion-item>

<ion-item (click)="pelican()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/brown_pelican.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Brown Pelican</h2>
  </ion-label>
</ion-item>

<ion-item (click)="cannonball()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/cannonball_jellyfish.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Cannonball Jellyfish</h2>
  </ion-label>
</ion-item>

<ion-item (click)="horseshoe()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/horseshoe_crab.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Horseshoe Crab</h2>
  </ion-label>
</ion-item>

<ion-item (click)="laughing()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/laughing_gull.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Laughing Gull</h2>
  </ion-label>
</ion-item>

<ion-item (click)="loggerhead()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/loggerhead_sea_turtle.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Loggerhead Sea Turtle</h2>
  </ion-label>
</ion-item>

<ion-item (click)="manatee()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/manatee.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Manatee</h2>
  </ion-label>
</ion-item>

<ion-item (click)="moon()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/Moon_jellyfish_at_Gota_Sagher.JPG"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Moon Jelly</h2>
  </ion-label>
</ion-item>

<ion-item (click)="otter()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/river_otter.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>North American River Otter</h2>
  </ion-label>
</ion-item>

<ion-item (click)="osprey()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/osprey.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Osprey</h2>
  </ion-label>
</ion-item>

<ion-item (click)="oyster()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/Oyster_reef_Hunting_Island_SC.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Oyster</h2>
  </ion-label>
</ion-item>

<ion-item (click)="drum()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/Red_Drum.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Red Drum</h2>
  </ion-label>
</ion-item>

<ion-item (click)="fiddler()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/sand_fiddler_crab.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Sand Fiddler Crab</h2>
  </ion-label>
</ion-item>

<ion-item (click)="egret()">
  <ion-thumbnail slot="start">
    <img src="assets/icon/Snowy_Egret.jpg"><img>
  </ion-thumbnail>
  <ion-label>
    <h2>Snowy Egret</h2>
  </ion-label>
</ion-item>
