<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
      <ion-back-button color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Animals</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
	<img [src]='animal?.image' />
	<div [innerHTML]='animal?.description'></div>
</ion-content>
<ion-content>
  <div *ngIf='(animalService?.isLoading$ | async)' class="ion-padding ion-margin ion-text-center">
    <ion-spinner ></ion-spinner>
  </div>
  <ion-list>
    <ion-item button (click)='openAnimal(animal.id)' *ngFor='let animal of (animalService.animals$ | async)'>
      <img [src]='animal?.image' slot='start' />
      <ion-label>
        {{animal?.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>