<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-back-button text="" color="light"></ion-back-button>
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <div class="section-with-image">
      <div class='section-overlay'></div>
    </div>
    <ion-title color="light">Marine Life</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div *ngIf='(animalService?.isLoading$ | async)' class="ion-padding ion-margin ion-text-center">
    <ion-spinner ></ion-spinner>
  </div>
  <ion-list>
    <ion-item button (click)='openAnimal(animal.id)' detail="false" *ngFor='let animal of (animalService.animals$ | async)'>
      <img class='img-animal' [src]='animal?.image' slot='start' />
      <ion-label>
        {{animal?.name}}
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>