// .new-background-color{
//     --background: #d41c1c;
// }

.img-animal{
	max-width: 100px;
	margin-left: -19px;
	border-top: 10px;
	border-bottom: none;
}

.section-with-image{
	height: 200px;
	background-image: url("src/assets/icon/1491581693744.jpg");
	background-size: cover;
	position: relative;
}

.section-overlay{
	position: absolute;
	background : rgba(0,0,0,0.4);
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

// .div1{
// 	height: 300px;
// 	width: 100%;
// 	border: 1px solid red;
// 	background-image: url("src/assets/icon/");
// 	position: relative;
// }

.div2{
	border: 1px solid black;
	// background: rgba(0,0,0,0.5);
	position: absolute;
	top: 0px;
	right: 0px;
	left: 0px;
	bottom: 0px;
}

.div3{
	height: 100px;
	width: 100px;
	border: 1px solid blue;
}

ion-grid{
	height: 300px;
}

ion-row{
	height : 100%;
	align-items : center;
}

ion-col{
	font-size: 24px;
	text-align: center;
	color: white;
}


ion-slides{
	height: 100%;
}

.first-slide{
	background-image: url("src/assets/icon/FTSumterSep1863a.jpg");
}

.second-slide{
	background-image: url("src/assets/icon/FTSumterSep1863a.jpg");
}

.third-slide{
	background-image: url("src/assets/icon/FTSumterSep1863a.jpg");
}



.sidebar-button{
	height: 100px;
	width: 100px;
	border: 1px solid black;
}

.sidebar{
	position: absolute;
}