<ion-header>
	<ion-toolbar class="ion-no-padding">
		<app-background-header [background]="(fortProvider?.data$ | async)?.imageFile?.url">
			<ion-buttons slot="start">
				<app-back-button color='light'></app-back-button>
			</ion-buttons>
			<div slot="heading">
				FORT SUMTER OVERVIEW
			</div>
		</app-background-header>
	</ion-toolbar>
</ion-header>
<ion-content>
	<app-loading-spinner *ngIf='historyProvider?.isLoading$ | async'></app-loading-spinner>
	<ng-container *ngIf='!(historyProvider?.isLoading$ | async)'>
		<app-image-item (onClick)='handleClick(item)' [title]='item?.title' [background]='item?.imageFile?.url' *ngFor='let item of ((historyProvider?.data$ | async) || [])'>			
		</app-image-item>
	</ng-container>
</ion-content>