<ion-header>
  <ion-toolbar class="new-background-color">
  <div class="section-with-image">
    <div class='section-overlay'>
      <ion-buttons slot="secondary">
        <ion-back-button text="" color="light"></ion-back-button>
        <ion-menu-button color="light"></ion-menu-button>
      </ion-buttons>
      </div>
    </div>
    <ion-title color="light">Spirit of Lowcountry</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen="true">

  <section class="full-width">
		<header></header>
		<ion-button expand="full" color="danger" (click)="amenitiesLC()">Amenities</ion-button>
  </section>
  
  <div class="row">
		<div class="col">
			<div class="text-center">
				<h5 style="text-align: center;">Boat Features</h5>
			</div>
		</div>
	</div>


  <ion-grid>
		<ion-row>
			<ion-col class='logo-border ion-no-padding ion-align-self-center'></ion-col>
			<ion-col><img alt="logo" class="header_logo" src="assets/icon/cannon_blue.png"></ion-col>
			<ion-col class='logo-border ion-no-padding ion-align-self-center'></ion-col>
		</ion-row>
  </ion-grid>
  
  <p>
    Elegant southern style and charm combined with functionality makes this boat a great way to see the Harbor and Fort Sumter.
    The Spirit of the Lowcountry is loaded with amenities, starting with the spacious partially covered upper deck.
    When you step onto this deck you really feel like you are part of the surrounding beauty of Charleston Harbor.
    This boat has seven restrooms, an elevator for guests with mobility issues, two fully equipped bars, and two heated/air conditioned dining decks.
    The decor on this boat is one of the crowning features, with beautiful window tapestries, banquette seating and classic lighting fixtures;
    this boat is a true gem.
  </p>

  <p><strong>Weight</strong> - 96 Gross Tons</p>

  <p><strong>Engines</strong> - 2 John Deere #6125 375hp</p>

  <p><strong>Capacity</strong> - 527 passengers</p>

  <p><strong>Age</strong> - Built in 1986</p>

  <p><strong>Certificates/ratings</strong> - C.O.I - USCG</p>

  <p><strong>Galley</strong> - Full sized catering galley</p>

  <p><strong>Environmentally</strong> - I.S.O 14001 Certificate -EMS</p>

  <p><strong>AV</strong> - QSC Q-Sys and Creston integrated system control makes sending audio and video to all areas of each vessel as simple as touching a button.
    Play video content locally into multiple flat screen displays on the interior decks or network video content to the entire vessel from the wheel house via HDMI connection.
    Concert quality audio systems on all decks allow for announcements and music to be heard clearly in all areas of the vessel.</p>

  <p><strong>Water Station</strong> - Filling station on Lower deck</p>

  <p><strong>Length:</strong> 93ft. - Width:32ft.</p>
</ion-content>
