<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
      <ion-back-button text="" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title color="light">Swipe to see next floor</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen class="ion-padding" scroll-y="false">

  <ion-slides [options]="{fadeEffect: {
    crossFade: true
    },autoplay: {
    delay: 10000
    }}">
    <ion-slide>
      <div class="first-slide">
        <img src="\assets\icon\amenitiescharleston.png"/>
        <h2>Swipe -></h2>
      </div>
    </ion-slide>
    
    <ion-slide>
      <div class="second-slide">
        <img src="\assets\icon\amenities2charleston.png"/>
      </div>
    </ion-slide>

  </ion-slides>

</ion-content>