<ion-header collapse="condense">
	<ion-toolbar class="new-background-color">
		<ion-buttons slot="start">
			<ion-menu-button color="light"></ion-menu-button>
		</ion-buttons>
		<ion-title color="light">Our Fleet</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content>
	<div [ngStyle]='{"background-image" : "url(assets/icon/spirit_of_lowcountry.jpg)" }' class='section-image' (click)="nextpage()">
		<div class='white-overlay'>
			<ion-grid class='grid-text'>
				<ion-row>
					<ion-col class='ion-text-center'>
						Spirit of Lowcountry
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>
	<div [ngStyle]='{"background-image" : "url(assets/icon/spiritline_cruises_spirit_of_charleston.jpg)" }' class='section-image1' (click)="charleston()">
		<div class='white-overlay'>
			<ion-grid class='grid-text'>
				<ion-row>
					<ion-col class='ion-text-center'>
						Spirit of Charleston
					</ion-col>
				</ion-row>
			</ion-grid>
		</div>
	</div>
</ion-content>