ion-menu ion-content{
	--background : var(--ion-color-primary) !important;
}

ion-menu{
	--width: 250px;
}


ion-label{
	font-size: 15px !important;
}

ion-item{
	--background : var(--ion-color-primary) !important;
	color: white;
	--background-activated : white;
}

ion-item{
	--padding-start : 20px;
	font-size: 20px;
	--border-color : rgba(255,255,255,0.5);
}

.app-brand-container{
	padding-top: 48px;
	padding-bottom: 48px;
	img{
		display: block;
		margin: auto;
		width: 67px;
	}
}

.app-name{
	color: white;
	padding-top: 16px;
}