<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-back-button color="light" defaultHref="overview"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">After the War</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content text-center>
  <p align="center"><ion-img src="assets/icon/after_the_war.jpg" width="128"></ion-img></p>
<ion-content>

  <p>
    When the Civil War ended, Fort Sumter was in ruins. In the 1870s the US Army worked to
    restore it as a useful military installation. The outer walls of the gorge and right
    flank. largely demolished by shellfire, were partially rebuilt. The other walls, left
    jagged and torn 30-40 feet above the water, were leveled to approximately half their
    original height. Through a left flank casemate, where a barracks once stood, a new sally
    port was constructed. Eleven of the original first-tier gun rooms were restored with 100
    pound Parrott rifles.
  </p>

  <p>
    A shortage of funds slowed construction, and so from 1876 - 1897 Fort Sumter was used
    as a lighthouse station manned only by a "fort keeper" or ordnance sergeant. Even then,
    thousands of visitors came to the fort each year to see "where the Civil War began."
  </p>

  <p>
    By the end of the 19th Century, the major world powers were building massive steel navies,
    and the US responded by modernizing its coastal defenses. In 1899 two 12-inch breech-loading
    rifled guns were installed at the fort. These guns were positioned on a massive concrete
    emplacement which was strengthened by earth fill extending to the top of the old fort walls.
    This battery, named for the South Carolinian Isaac Huger, a major general in the American
    Revolution, dominates the central portion of the fort today. The guns were removed for scrap
    in 1943.
  </p>

  <p>
    During late World War II, Fort Sumter was armed with four 90-mm guns manned by a company
    of Coast Artillery. After the war, the fort was transferred from the War department to the
    National Park Service. It became a national monument on July 12, 1948.
  </p>

  <p>
    In 1966 the site was listed on the National Register of Historic Places.
  </p>