<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar class="new-background-color">
      <ion-buttons slot="start">
        <ion-menu-button color="light"></ion-menu-button>
        <ion-back-button color="light" defaultHref="overview"></ion-back-button>
      </ion-buttons>
      <ion-title color="light">Construction</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content text-center>
  <p align="center"><ion-img src="assets/icon/Fort_sumter_1861.jpg" width="128"></ion-img></p>
<ion-content>

  <font face="Helvetica Neue" size = "5" color="005295">
    <p>Named after General Thomas Sumter, Revolutionary War hero, Fort Sumter was built following the War of 1812 as one of a series of fortifications along the US coastline. Construction began in 1829, and the structure was still unfinished by 1861 when the Civil War began.&nbsp; Seventy thousand tons of granite were imported from New England to build a foundation upon a sand bar in the entrance to Charleston Harbor.&nbsp; The fort was a five-sided brick structure, with four walls extending from 170 to 190 feet (52 to 58 m) long, and a gorge wall of 319 feet (97 m).&nbsp; The walls were five feet (1.5 m) thick, standing 50 feet (15.2 m) over the low tide mark.&nbsp; It was designed to house 650 men and 135 cannons in three tiers of gun emplacements.&nbsp; It was never staffed or armed to full capacity.</p>
    </font>