<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="secondary">
      <ion-back-button text="" color="dark"></ion-back-button>
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <div class="section-with-image">
      <div class='section-overlay'></div>
    </div>
    <ion-title color="light">Amenities</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content text-center>
  <p align="center"><ion-img src="assets/icon/amenities1.jpg" width="128"></ion-img></p>
</ion-content>

      
