<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="secondary">
      <ion-back-button text="" color="dark"></ion-back-button>
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>
    <div class="section-with-image">
      <div class='section-overlay'></div>
    </div>
    <ion-title color="light">Amenities</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div class="swiper-container">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">Slide 1</div>
        <div class="swiper-slide">Slide 2</div>
        <div class="swiper-slide">Slide 3</div>
    </div>
</ion-content>


      
