.new-background-color{
    --background: #d61c1c;
}

p {
    color: #567cce;
}

ion-grid{
	width: 70%;
	display: block;
	margin: auto;
}

.logo-border{
	border-bottom: 1px solid #567cce;
}

.header_logo{
	height: 36px;
	display: block;
	margin: auto;
}