<ion-header collapse="condense">
	<ion-toolbar class="new-background-color">
		<ion-buttons slot="start">
			<ion-menu-button color="light"></ion-menu-button>
		</ion-buttons>
		<ion-title color="light">Welcome</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">

	<font face="Helvetica Neue" size="24" color="005295">
		<div class="row">
			<div class="col">
				<div class="text-center">
					<h5 style="text-align: center;">Welcome to Fort Sumter Tours</h5>
				</div>
			</div>
		</div>
	</font>

	<ion-grid>
		<ion-row>
			<ion-col class='logo-border ion-no-padding ion-align-self-center'></ion-col>
			<ion-col><img alt="logo" class="header_logo" src="assets/icon/cannon_blue.png"></ion-col>
			<ion-col class='logo-border ion-no-padding ion-align-self-center'></ion-col>
		</ion-row>
	</ion-grid>

	<font face="Helvetica Neue" size="4" color="005295">
		<p ion-text color="light">Fort Sumter, best known as the location where the Civil War began, is located
			at the entrance to the historic Charleston Harbor. For some, the Civil War
			is considered a second American Revolution; it changed who we are as a country.
			The Civil War resulted in roughly 700,000 casualties; Americans fighting Americans.
			Here at Fort Sumter, approximately 70 Confederate and Union soldiers, and enslaved
			African Americans lost their lives. A direct outcome of the war was ratification of
			the 13th Amendment to the U.S. Constitution that ended slavery in the United States.
			Americans were forced to begin to live up to our ideals of freedom and equality. As
			you enjoy your visit, consider the significance of events that happened here and help
			us protect the fort by not climbing, sitting, or standing on the brickwork or cannon.
			The site is preserved as a unit of the National Park Service and listed on the National Park
			Register of Historic Places. It is ranked by Conde Nast Readers' Choice Awards as a #1
			top U.S. destination.
		</p>
		<p>Fort Sumter tours is the only authorized concessioner of Fort Sumter National Monument.
			Rooted in Charleston's maritime heritage, Fort Sumter Tours is a family business that was
			established in 1961. Two generations of the Campsen family have grown the business, operated
			by SpiritLine Cruises, to include dinner cruises, harbor tours, and charters. Friendly
			staff welcomes you aboard and strives to make your trip through Charleston's picturesque
			harbor to Fort Sumter a comfortable experience. Consistently passing rigorous National Park
			Service guidelines, visitors are assured an enjoyable, informative, and memorable visit.
		</p>
		<p>Many photo opportunities of the harbor and fort are available throughout your trip.
			The fort's gift shop and museum offer you additional opportunities to learn about the
			site. The ferry departure centers at Liberty Square and Patriot's Point are also worth visiting.
			The Fort Sumter Visitor Education Center at Liberty Square follows the building conflict
			from the time of the American Revolution that would lead the Civil War.
		</p>
	</font>

</ion-content>