
<ion-header>
  <ion-toolbar class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button color="light"></ion-menu-button>
    </ion-buttons>
    <ion-title color="light">Welcome</ion-title>
  </ion-toolbar>
</ion-header>

<ion-row>
  <ion-col col-6 offset-3 text-center>
     <a>Welcome to Fort Sumter Tours</a>
  </ion-col>
 </ion-row>

 <p ion-text color="light">Fort Sumter, best known as the location where the Civil War began, is located
   at the entrance to the historic Charleston Harbor. For some, the Civil War
   is considered a second American Revolution; it changed who we are as a country.
   The Civil War resulted in roughly 700,000 casualties; Americans fighting Americans.
   Here at Fort Sumter, approximately 70 Confederate and Union soldiers, and enslaved
   African Americans lost their lives. A direct outcome of the war was ratification of 
   the 13th Amendment to the U.S. Constitution that ended slavery in the United States.</p>

