<ion-header collapse="condense">
	<ion-toolbar class="new-background-color">
		<ion-buttons slot="start">
			<ion-menu-button color="light"></ion-menu-button>
		</ion-buttons>
		<ion-title color="light">Welcome</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" class="ion-padding">
	<div class='page-heading'>WELCOME TO<br/>FORT SUMTER TOURS</div>
	<app-canon-spacer color="dark"></app-canon-spacer>


	<app-loading-spinner *ngIf='parseService?.config?.isLoading$ | async'></app-loading-spinner>

	<div *ngIf='(parseService?.config?.data$ | async) != null'>
		<div [innerHTML]='(parseService?.config?.data$ | async).overviewText'></div>
	</div>

</ion-content>