.new-background-color{
    --background: #d61c1c;
}

ion-grid{
	width: 70%;
	display: block;
	margin: auto;
}

.logo-border{
	border-bottom: 1px solid #567cce;
}

.header_logo{
	height: 36px;
	display: block;
	margin: auto;
}

.page-heading{
	text-align: center;
	font-size: 20px;
	color: var(--ion-color-primary);
	padding-bottom: 16px;
	padding-top: 8px;
}

app-canon-spacer{
	width: 200px;
	display: block;
	margin: auto;
	margin-bottom: 48px;
	color: var(--ion-color-primary);
}