
    <ion-buttons slot="start">
      <ion-menu-button color="dark"></ion-menu-button>
    </ion-buttons>



<ion-content>


  <ion-slides [options]="{fadeEffect: {
    crossFade: true
    },autoplay: {
    delay: 3000
    }}">
  
    <ion-slide>
      <div class="first-slide">
        <img src="\assets\icon\mainmenu1.jpg"/>
      </div>
    </ion-slide>
    
    <ion-slide>
      <div class="second-slide">
        <img src="\assets\icon\mainmenu2.jpg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="third-slide">
        <img src="\assets\icon\mainmenu3.jpg"/>
      </div>
    </ion-slide>

    <ion-slide>
      <div class="fourth-slide">
        <img src="\assets\icon\mainmenu4.jpg"/>
      </div>
    </ion-slide>

  </ion-slides>


</ion-content>