<ion-header>
	<ion-toolbar class="ion-no-padding-imp">
		<app-background-header [background]="(provider?.data$ | async)?.imageFile?.url">
			<ion-buttons slot="start">
				<ion-menu-button color='light'></ion-menu-button>
			</ion-buttons>
			<div slot="heading">{{(provider?.data$ | async)?.title}}</div>
		</app-background-header>
	</ion-toolbar>
</ion-header>
<ion-content>
	<app-btn-square (onClick)='overview()' title="Overview"></app-btn-square>
	<app-btn-square (onClick)='imageView("amenities")' title="Amenities"></app-btn-square>
	<app-btn-square (onClick)='imageView("beacon_locations")' title="Beacon Locations"></app-btn-square>
	<app-btn-square title="360 Tours"></app-btn-square>
	<app-btn-square (onClick)='timeTravel()' title="Time Machine"></app-btn-square>
	<app-loading-spinner *ngIf='provider?.isLoading$ | async'></app-loading-spinner>
	<ng-container *ngIf='!(provider?.isLoading$ | async)'>
		<div class='page-heading'>
			History
		</div>
		<app-canon-spacer color='dark'></app-canon-spacer>
		<div class='ion-padding' [innerHTML]="(provider?.data$ | async)?.details"></div>
	</ng-container>
</ion-content>