.new-background-color{
    --background: #d41c1c;
}

p {
    color: #567cce;
}

.header_logo{
	height: 36px;
	display: block;
	margin: auto;
}

ion-grid{
	width: 70%;
	display: block;
	margin: auto;
}

.logo-border{
	border-bottom: 1px solid #567cce;
}
.full-width{
	margin-top: -3px;
}

.ion-padding {
	padding: 5px;
}

