ion-toolbar{
    --background : var(--ion-color-secondary);
    --color : white;
}

ion-back-button{
    display: initial !important;
}

ion-content{
    --background : rgb(240,240,240);
}

ion-item{
    --border-color : rgb(230,230,230);
}

ion-label{
    font-size: 13px !important;
}