<ion-header>
	<ion-toolbar>
		<ion-buttons slot="start">
			<ion-menu-button color="light"></ion-menu-button>
		</ion-buttons>
		<ion-title>Settings</ion-title>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-item lines="full" button (click)='goToInfo("faq")'>
		<ion-label class='ion-no-margin lbl-item'>
			Frequently Asked Questions
		</ion-label>
	</ion-item>
	<ion-item lines="full" button (click)='customerSupport()'>
		<ion-label class='ion-no-margin lbl-item'>
			Customer Support
		</ion-label>
	</ion-item>
	<ion-item lines="full" button (click)='goToInfo("privacyPolicy")'>
		<ion-label class='ion-no-margin lbl-item'>
			Privacy Policy
		</ion-label>
	</ion-item>
	<ion-item lines="full" button (click)='goToInfo("termsAndConditions")'>
		<ion-label class='ion-no-margin lbl-item'>
			Terms and Conditions
		</ion-label>
	</ion-item>
	<div class='ion-padding-top'></div>
	<ion-item lines="full" details="false">
		<ion-label class='ion-no-margin lbl-item'>
			Version: {{info?.appVersion}} - Build: {{info?.appBuild}}
		</ion-label>
	</ion-item>
</ion-content>